EXPO_PUBLIC_MEDIA_API_BASE=http://192.168.1.100:3000
EXPO_PUBLIC_SEARCH_API_BASE=http://192.168.1.100:8000
EXPO_PUBLIC_AUTH0_DOMAIN=dev-dm0k5l2f2j2qi2g3.us.auth0.com
EXPO_PUBLIC_AUTH0_CLIENT_ID=cZ9xwl88jRBNdVwfLZuq0mHaJSkajX7W
EXPO_PUBLIC_AUTH0_AUDIENCE=https://api.chomp.app
EXPO_PUBLIC_SUPABASE_URL=https://gpucrivkkqqdzmaruicu.supabase.co
EXPO_PUBLIC_SUPABASE_KEY=replace_with_anon_key
